@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
}

h1 {
  color: #000;
  font-size: 35px;
}

h2 a {
  color: rgb(11, 103, 11);
  font-size: 23px;
  text-decoration: none;
}

a {
  color: blue;
  font-size: 12px;
}

.red {
  color: rgb(183, 0, 0);
}

.blue {
  color: rgb(0, 0, 139);
}
