.flex {
  display: flex;
  flex-wrap: wrap; /* O flex-wrap: wrap, faz os itens quebrarem linha, não deixando estourar o container */
  gap: 20px;
}

body {
  margin: 0px;
}

h2 {
  background: #e7e7e7;
  border: 1px solid #d7d7d7;
  padding: 20px;
  margin: 0px;
  flex: 1; /* Flex é um atalho para flex-grow, flex-shrink e flex-basis */
}

.grid {
  margin-top: 60px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
}
