@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.titulo {
  grid-column: 2;
  text-align: right;
}

.preco {
  place-self: start end;
}

.descricao {
  text-align: right;
}
.comprar {
  align-self: start;
}

/* Estilos gerais */

body {
  font-family: "Poppins", sans-serif;
  margin: 40px;
}

h1,
p {
  margin: 0px;
}

h1 {
  font-size: 48px;
  line-height: 1;
}

p,
span {
  font-size: 20px;
}

img {
  max-width: 100%;
  border-radius: 4px;
}

.comprar {
  background-color: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.preco {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 4px;
}
