@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

body {
  font-family: "Sora", sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 0px;
}

.comprar {
  background: #a8f;
  color: #103;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.item {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 4px;
  display: grid;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* fr é uma unidade fracionária, ele vai distribuir o espaço que sobra entre ambos os elementos, ou seja, ele vai forçar a distribuição do espaço em branco */
  gap: 20px;
  justify-content: center;
}
