img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  grid-column: 1 / -1;
}

/* Todo código que tem este limite, deve estar dentro da media querie, max > menor que --- min > maior que */
@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }

  h1 {
    background: lightpink;
  }
}

@media (min-width: 1000px), (max-width: 500px) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  p {
    background: lightskyblue;
  }
}

/* No modo screen é somente tela, quando for imprimir, por exemplo, não aparecerá esta cor, pois definimos somente para tela */
/* @media screen {
  body {
    background: pink;
  }
} */
