img {
  max-width: 100%;
  display: block;
}

/* Lembrando que o valor 1fr distribui os espaços em branco */
div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
}

p {
  font-size: 2rem;
}
