:root {
  --cor-primaria: #1c60fd;
  --cor-secundaria: #0b4ce2;
  --cor-texto: #b2b2b2;
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
  margin: 0px;
  font-family: "Sora", sans-serif;
  padding-bottom: 600px;
}

h1, ul, p {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}